.view_order {
        background-color :blue;
        color: white;
        text-align: center;
        height: 35px;
        font-weight: 'bold';
        position:absolute;
        top: 0px;
        right: 600px;
}

.create_order {
    background-color:orange;
    color: white;
    text-align: center;
    height: 35px;
    font-weight: 'bold';
    position:absolute;
    top: 0px;
   left: 600px;
}